dist: trusty
language: java
sudo: false

jdk:
  - oraclejdk8
  - oraclejdk9
  - oraclejdk11
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11
  - openjdk12
  - openjdk13

cache:
  directories:
    - $HOME/.m2

install:
  - cd $TRAVIS_BUILD_DIR/jaxrs-api
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
  - cd $TRAVIS_BUILD_DIR/examples
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
  - cd $TRAVIS_BUILD_DIR/jaxrs-spec
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - cd $TRAVIS_BUILD_DIR/jaxrs-api
  - mvn verify -B
  - cd $TRAVIS_BUILD_DIR/examples
  - mvn verify -B
  - cd $TRAVIS_BUILD_DIR/jaxrs-spec
  - mvn verify -B
